NEXT_PUBLIC_SUPABASE_URL="https://wtpnjftpkdpwsxrxhugm.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_e0KH3MO84kt1MzfI5tB-Gw_RTECZpeG"
DATABASE_URL="postgresql://postgres:YOUR_SUPABASE_DATABASE_PASSWORD@db.wtpnjftpkdpwsxrxhugm.supabase.co:5432/postgres"
AUTH_SECRET=""
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash"
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
